<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>React Isomorphic Server Side Rendering Example</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="http://localhost:8080/easy.ico">
    <link href="http://localhost:8080/css/data.css" rel="stylesheet">
</head>
<body>

<h1 id="main-title">Isomorphic Server Side Rendering with React</h1>
<div id="react-main-mount">
    <%- reactOutput %>
</div>
<script src="http://localhost:8080/js/data.js"></script>
</body>
</html>
