<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="http://localhost:8080/pc/build/easy.ico">
    <link href="http://localhost:8080/pc/build/css/js/comment.js.css" rel="stylesheet">
</head>
<body>
<div id="example"></div>
<script type="text/javascript" src="http://localhost:8080/pc/build/js/comment.js"></script>
<script type="text/javascript" src="http://localhost:8080/pc/build/js/page_1.build.js"></script>
</body>
</html>